/* reset simples*/
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    /*list-style-type: none;*/
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: blanchedalmond;
    background-color: black;
    
}

a {
    color: cadetblue;
}
a:visited {
    color:orchid;
}
footer a {
    color: blanchedalmond;
}
footer a:visited {
    color:blueviolet
}
a:hover {
    font-weight: bold;
}
a:active {
    color: cadetblue;
}

h2, h3, h4 {
    margin-top: 0.67em;
}

#paginaInicial {
    font-size: 22px;
    color: blanchedalmond;
}

header {
    padding: 10px 65px;
    background-color:cadetblue;
}

main {
    position: relative;
    padding: 10px 100px;
    padding-bottom: 50px;
    font-size: 20px;
}

.conteudo_texto_titulo {
    font-size: 44px;
}

.exemplos {
    border: solid cadetblue 1px;
}

.conteudo_links_pais {
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: cadetblue;
    gap: 10px;
    justify-content: center;
}



