<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projeto-revisionario/style/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a id="paginaInicial" href="/projeto-revisionario/revindex.html"><h1>Revisionário</h1></a>
    </header>
    <main class="conteudo">
        <section class="conteudo_texto">
            <h1 class="conteudo_texto_titulo"></h1>
        </section>
        
    </main>
    <footer>
        <span>Página por Pedro Maranhão</span>
        <a href="https://www.linkedin.com/in/pedromaranhao/">Linkedin</a>
        <a href="https://github.com/PedroHMaranhao">Github</a>
    </footer>
</body>
</html>